BACKEND_URL=http://localhost:8080
WEB_URL=http://localhost:3000

DIR_BACKEND=../dondesiempre-backend

NOTIFICATION_VAPID_PUBLIC=BGXh2xUqneH-zB08cfwk4j4vq28G45XLZozxNfavgXPneWEmxNtXQSfc8DEmucptf2UIrm4Syarv9JHaRjr--Ns
